.slick-slide {
  display: flex !important;
  justify-content: center;
  align-items: center;
  height: auto !important;
  margin: 0 !important;
  color: black;
}

.slick-list {
  margin: 0 auto;
  overflow: hidden;
}

.slick-prev,
.slick-next {
  z-index: 1;
}
